project_name = gear

width = 400
height = 400

number_of_threads = 4

log = true
seed_random = 1587632589
message_transmission_model = ModeloDeTransmissao

nodes[0] = 200

distribuition_model[0] = RandomDistribution
communication_radio[0] = 50
node_radio[0] = 1
node_implementation[0] = Sensor
connectivity_model[0] = GearConectivity